* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.main-body {
  margin: 0 auto;
  max-width: 1440px;
}
/* this section for header */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 87px 120px 0 120px;
}
.nav-list {
  list-style-type: none;
}
.nav-item {
  display: flex;
  gap: 34px;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-link {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.nav-bannar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 133px;
  padding: 51px 132px 0 120px;
}
.bannar-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.375rem;
}
.bannar-text {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 0 16px 0;
}
.bannar-btn {
  border-radius: 41px;
  border: 0;
  background: #e02c6d;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}
.bannar-img {
  background-image: url("./images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: center;
}
/* this section for main body */
.brand-logo {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 136px;
}
/* this section for popular collection */
.popular-collection {
  padding: 135px 197px 0 196px;
}
.popular {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 4.375rem;
  text-align: center;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.collection-box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 17px 15px 17px 14px;
}
.box-img {
  border-radius: 5px;
}
.box-heading {
  color: #18191f;
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-top: 16px;
}
.box-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  margin-top: 6px;
}
.box-details {
  color: #787885;
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
  margin-top: 27px;
}
.more {
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 8px;
  margin-top: 50px;
}
.more-text {
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 165px;
  gap: 96px;
}
.feature-title {
  color: #0a0826;
  font-family: Poppins;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.75rem;
}
.feature-description {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 16px 95px 16px 0;
}
.feature-btn {
  border: 0;
  background: #e02c6d;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

/* this section for footer */

.main-footer {
  background: #0a0826;
  padding: 50px 589px;
}
.footer-body {
  text-align: center;
}
.footer-title {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-description {
  color: #d9dbe1;
  font-family: Manrope;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-top: 3px;
}
.footer-img {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}
/* Responsive */
@media screen and (max-width: 567px) {
  .main-body {
    margin: 0 auto;
    max-width: 360px;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  .nav-content {
    flex-direction: column;
    padding: 35px 16px 0 16px;
  }
  .nav-item {
    flex-direction: column;
    margin: 22px 0 73px 0;
    gap: 10px;
  }
  .nav-bannar {
    flex-direction: column-reverse;
    padding: 0;
    gap: 30px;
  }
  .brand-logo {
    flex-wrap: wrap;
    gap: 31px;
    margin-top: 51px;
  }
  .bannar-content {
    text-align: center;
  }
  .bannar-title {
    font-size: 1.75rem;
  }
  .bannar-text {
    font-size: 0.875rem;
    padding: 15px 21px 20px 18px;
  }
  .bannar-btn {
    margin-top: 0;
  }
  .popular-collection {
    padding: 53px 16px 0 15px;
  }
  .collection {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  .more {
    margin-top: 32px;
  }
  .feature {
    flex-direction: column-reverse;
    padding: 50px 16px 50px 15px;
    gap: 30px;
    text-align: center;
  }
  .feature-title {
    color: #0a0826;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
  }
  .feature-description {
    color: #6c6c6c;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding: 15px 0 50px 0;
  }
  .main-footer {
    padding: 50px 0;
  }
  .footer-img {
    margin-top: 10px;
  }
  .footer-description {
    margin-top: 0;
  }
  .footer-description1 {
    margin-top: 5px;
  }
  .footer-img {
    gap: 7px;
    margin-top: 10px;
  }
}
